@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

a,
a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
}

h1,
h3 {
	font-family: "Open Sans", sans-serif;
}

img {
	width: 100%;
}

body {
	box-sizing: border-box;
	list-style: none;
	font-family: "Raleway", sans-serif;
}
.us-body {
	background: -webkit-linear-gradient(
			top,
			rgb(30, 113, 107) 1%,
			rgb(54, 185, 161) 100%
		)
		fixed;
	background: linear-gradient(top, rgb(30, 113, 107) 1%, rgb(54, 185, 161) 100%)
		fixed;
	background: -moz-linear-gradient(
		top,
		rgb(30, 113, 107) 1%,
		rgb(54, 185, 161) 100%
	); /* FF3.6-15 */
	background: linear-gradient(
		top,
		rgb(30, 113, 107) 1%,
		rgb(54, 185, 161) 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.wrapper {
	position: relative;
}

.main {
}

.bg-video {
	/* background-color: rgb(30, 113, 107); */
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: -1;
}

.huge-bg {
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

.huge-bg img {
	/* opacity: 0.8; */
	min-height: 100%;
	min-width: 100%;
	height: auto;
	/* width: auto; */
}

.half-bg {
	left: 0;
	width: 54%;
}

.huge-bg.half-bg img {
	width: 100%;
	position: relative;
	z-index: 32423423;
}

.bg-video video {
	width: 100%;
}

.description {
	position: relative;
	padding-bottom: 30px;
}

.description p {
	padding: 0 100px;
}

.description:before {
	content: "";
	display: block;
	border-top: 1px solid #ffffff;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
	bottom: 0;
	width: 10rem;
}
.borderless::before {
	display: none;
}

.huge-buttons {
	padding: 0 100px;
}

.huge-btn {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	padding: 30px 40px;
	margin-bottom: 30px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 3px;
	background-color: transparent;
	transition: all 0.3s;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.huge-btn:hover {
	color: #005379;
	background-color: #fff;
}

.sidebar {
	width: 160px;
	height: 100%;
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	transition: all 0.3s;
}

.sidebar.sidebar-active {
	width: 210px;
	z-index: 4;
}

.mobile-menu,
.mobile-social {
	display: none;
}

.mobile-logo {
	width: 50px;
}

.mobile-sidemenu,
.mobile-sidemenu ul {
	width: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}

.mobile-sidemenu > a {
	padding: 20px;
}

.mobile-menu-close {
	background: #eeeeee;
	color: #005379;
}

.mobile-sidemenu li a,
.mobile-social a {
	padding: 18px;
	border: 1px solid #eee;
	cursor: pointer;
	display: inline-block;
	color: inherit;
	background: #fff;
}

.logo {
	width: 100%;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

.logo img {
	width: 80px;
}

.sidebar:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.nav-item-active {
	background-color: transparent !important;
	color: #fff !important;
	/* color: #231f20; */
}

.nav a {
	background-color: #fff;
}

.logo:hover,
.nav a:hover {
	background: #eeeeee;
}

.nav {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 11px;
	text-transform: uppercase;
}

.nav a {
	padding: 20px 25px;
	color: #231f20;
	font-weight: bold;
	display: block;
	text-align: center;
}

.nav a:hover {
	color: #231f20;
}

.header {
	padding: 20px 20px 20px 180px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	max-width: 200px;
}

.header-nav {
	border: 1px solid #fff;
	display: flex;
	font-size: 14px;
}

.header-list {
	position: relative;
}

.header-dropdown {
	width: 100%;
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

.header-dropdown span {
	display: block;
}

.header-dropdown span:first-child {
	background-color: rgba(250, 250, 250, 0.6);
}

.header-dropdown span:first-child:hover {
	background-color: rgba(250, 250, 250, 1);
}

.header-dropdown span:last-child {
	background-color: rgba(250, 250, 250, 0.4);
}

.header-dropdown span:last-child:hover {
	background-color: rgba(250, 250, 250, 1);
}

.header-list:hover .header-dropdown {
	visibility: visible;
	opacity: 1;
}

.header-nav a {
	display: block;
	padding: 15px 20px;
	color: #fff;
}

.header-nav li:hover {
	background-color: #fff;
}

.header-nav li:hover a {
	color: #005379;
}

.header-nav li:not(:last-child) {
	border-right: 1px solid #fff;
}

.content {
	padding: 20px 20px 20px 180px;
	color: #fff;
	text-align: center;
	min-height: 70vh;
}

.content h1 {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 50px;
	margin-top: 90px;
}

.content h4 {
	font-weight: bold;
	margin: 30px 0;
}

.content > p {
	font-size: 19px;
	margin-bottom: 30px;
}

.button-box p {
	font-size: 14px;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}

.main-button {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	width: 250px;
	display: inline-block;
	padding: 15px 40px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 3px;
	background-color: transparent;
	transition: all 0.3s;
}

.main-button:hover {
	color: #005379;
	background-color: #fff;
}

.button-box:first-child {
	margin-right: 50px;
}

.client-wrapper {
	font-size: 14px;
}

.client-logos {
	display: flex;
	justify-content: center;
}

.client-logos > * {
	height: 35px;
	margin: 15px;
	width: auto;
}

.footer-wrapper {
	padding: 20px 20px 20px 180px;
	color: #fff;
	text-align: center;
}

.address {
	font-size: 12px;
	display: flex;
	justify-content: center;
}

.address strong {
	font-weight: bolder;
}

.address p:first-child {
	margin-right: 15px;
}

.footer {
	color: #54c1b8;
	font-size: 12px;
	display: flex;
	justify-content: center;
}

.footer a {
	color: #54c1b8;
	text-decoration: underline;
}

.footer a:hover {
	color: #fff;
	text-decoration: none;
}

.footer p {
	margin: 0 15px;
}

.recruiter-box-content {
	text-align: left;
	padding: 50px 150px;
}

.recruiter-box-content h3 {
	border-bottom: 1px solid #54c1b8;
	color: #54c1b8;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.recruiter-box-content p {
	font-size: 14px;
}

.map {
	overflow: hidden;
	position: relative;
}

.map figure {
	height: 100%;
}

/* .map iframe {
	margin-top: -150px;
} */

.text__map {
	background-color: rgba(13, 12, 42, 0.6);
	left: 0;
	padding: 1rem;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.text__map--bottom {
	bottom: 0;
}

.text__map--top {
	top: 0;
}

.content.contact {
	padding: 0px 0px 0px 180px;
}

.col-right {
	padding-right: 0;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 42%;
}

.center-col {
	padding: 0 50px;
}

.form-btn {
	display: block;
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 3px;
	background-color: transparent;
	cursor: not-allowed;
	transition: all 0.3s;
	margin: 20px 0 50px 0;
}

.form-btn:hover {
	background-color: rgba(250, 250, 250, 0.6);
}

.contact h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 40px;
	margin: 100px 0 20px 0;
	font-weight: bold;
}

.content.contact p {
	padding: 0;
}

.contact h5 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
}

.form-subtitle {
	text-align: left;
	font-size: 14px;
}

.contact label {
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 12px;
}

.contact input,
.contact select {
	font-size: 12px;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	display: block;
	width: 100%;
	color: #fff;
	margin-bottom: 30px;
	padding-bottom: 3px;
	padding-top: 3px;
}

.contact select {
	width: 100%;
	color: #54c1b8;
}

.contact textarea {
	background-color: rgba(255, 255, 255, 0.1);
	margin-top: 1rem;
	padding: 1rem;
	width: 100%;
	border: 0;
	border-radius: 0;
	display: block;
	font-family: "Raleway", sans-serif;
	margin-bottom: 1rem;
	outline: 0;
}

.contact [type="checkbox"] {
	display: inline-block;
	width: auto;
	margin-right: 5px;
}

.checkbox-wrapper {
	text-align: left;
	font-size: 14px;
}

.checkbox-wrapper a {
	color: #fff;
	text-decoration: underline;
}

.content.split-page {
	padding-right: 0;
}

.left__col {
	color: #fff;
	text-align: right;
}

.right__col {
	color: #fff;
	text-align: left;
}

.split-page-menu {
	font-weight: bold;
	padding-right: 2rem;
	text-align: right;
	text-transform: uppercase;
}

.split-page-menu a {
	display: inline-block;
	font-size: 20px;
	padding: 20px 0px;
	font-weight: bold;
	color: #fff;
}

.split-active {
	color: #54c1b8 !important;
}

.split-title {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	line-height: 1.2;
	margin: 20px 0;
}

.split-paragraph {
	font-size: 14px;
}

.split-subtitle {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 16px;
}

.link-stories {
	width: 80%;
}

.link-stories a {
	background-color: rgba(255, 255, 255, 0.2);
	border-top: 1px solid #fff;
	color: #ffffff;
	display: block;
	padding: 5px;
	text-transform: uppercase;
	font-size: 14px;
}

.stories-col {
	padding: 0 9%;
}

.stories-page-content {
	text-align: left;
	position: relative;
}

.stories-page-objectives {
	border-left: 1px solid #fff;
	padding-left: 100px;
}

.stories-graphic-1 {
	position: absolute;
	left: -24px;
	top: -24px;
	width: 50px;
	height: 50px;
}

.stories-page-content ul {
	list-style: disc;
	font-size: 12.8px;
	padding: 0 0 15px 15px;
}

.stories-page-content li:not(:last-child) {
	padding-bottom: 10px;
}

.stories-page-objectives ul li {
	padding-bottom: 15px;
}

.stories-page-content h4 {
	font-size: 15px;
	margin: 15px 0;
	text-transform: uppercase;
}

.stories-page-columns {
	display: flex;
	margin-top: 40px;
	position: relative;
	padding-bottom: 30px;
}

.stories-page-columns:after {
	content: "";
	display: block;
	height: 100%;
	width: 1px;
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 0;
}

.stories-page-columns > * {
	flex: 1;
}

.stories-page-text {
	margin: 0 35px;
	padding-top: 30px;
	border-top: 1px solid #fff;
	position: relative;
}

.icon-data {
	position: absolute;
	width: 40px;
	height: 40px;
	left: -52px;
	top: -20px;
}
.icon-analytics {
	position: absolute;
	width: 40px;
	height: 40px;
	left: -52px;
	top: -20px;
}
.icon-business {
	position: absolute;
	width: 40px;
	height: 40px;
	left: -52px;
	top: -20px;
}

.stories-page-data {
	position: relative;
}

.stories-page-data:before {
	content: "";
	width: 100%;
	height: 80%;
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	border-left: 1px dotted #ffffff;
	border-right: 1px dotted #ffffff;
}

.stories-page-single-col.stories-page-business .stories-page-text {
	margin-right: 0;
}

.stories-page-single-col.stories-page-business ul {
	margin-right: 35px;
}

.stories-page-results {
	border-top: 1px solid;
	position: relative;
	margin-bottom: 50px;
}

.stories-page-result-text {
	padding: 30px 0 0 30px;
}

.stories-result-graphic {
	position: absolute;
	left: -25px;
	top: -25px;
	width: 50px;
	height: 50px;
}
.stories-page-result-text h3 {
	color: #54c1b8;
	border-bottom: 1px solid #54c1b8;
	margin-bottom: 0;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}
.stories-page-result-text ul {
	padding: 0;
}

.stories-page-result-text li {
	list-style-position: outside;
	list-style-image: url(../img/marker.png);
	padding: 10px 0;
	font-size: 18px;
	border-bottom: 1px solid #54c1b8;
}

.content .stories-title {
	font-size: 35px;
	margin-top: 0;
	margin-bottom: 40px;
}

.stories-col {
	padding: 0 9%;
}

.btn-team {
	font-family: "Open Sans", sans-serif;
	display: inline-block;
	padding: 5px 10px;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	transition: all 0.3s;
}

.btn-team:hover {
	background-color: #fff;
	color: #005379;
}

.team-clients img {
	width: 130px;
	margin: 20px;
	padding-bottom: 25px;
}

.team-main-content {
	margin: 20px auto 0 auto;
	max-width: 540px;
	position: relative;
}

.team-main-content img {
	max-width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
}

.team-text {
	position: relative;
	z-index: 2;
}

.team__text--content {
	overflow: hidden;
	text-align: center;
	display: flex;
}

.team__text--item {
	flex: 1;
	cursor: pointer;
	margin-bottom: 10%;
	margin-top: 23%;
	text-transform: uppercase;
	font-size: 14px;
}

.team__plus {
	display: block;
	margin-bottom: 0.8rem;
}

.item--2 {
	width: 100%;
}

.text__modal {
	border-bottom: 4px solid #162236;
	background-color: rgba(22, 34, 54, 0.8);
	color: #fff;
	padding: 1rem;
	position: absolute;
	width: 40%;
	z-index: 3;
}

[data-target="business"] {
	left: -4rem;
	top: 0;
}

[data-target="tech"] {
	left: 0;
	margin: 0 auto;
	right: 0;
	top: 50%;
}

[data-target="analytics"] {
	right: -4rem;
	top: 0;
}

.text__modal--close {
	cursor: pointer;
	right: 1rem;
	position: absolute;
	top: 1rem;
}

.text__modal ul {
	padding-left: 1rem;
	padding-right: 5px;
	text-align: left;
	list-style: disc;
	font-size: 14px;
}

.team-content-header {
	font-size: 14px;
	padding-top: 80px;
	padding-bottom: 10px;
}

.team-content-footer {
	font-size: 14px;
	padding-top: 40px;
	padding-bottom: 60px;
}

.approach-content {
	margin-top: 2rem;
	color: #fff;
}

.rollovershow {
	text-align: center;
	margin: 0;
	font-size: 0.8rem;
	font-style: oblique;
}

.puzzle-section {
	height: 243px;
	max-width: 1000px;
	margin: 120px auto;
	position: relative;
	margin-bottom: 320px;
}

.show-content {
	opacity: 1 !important;
	transition: opacity 1s;
}

.puzzle-section .technology-puzzle {
	float: left;
	width: 33%;
	height: 100%;
	background-color: #7d7ba4;
	position: relative;
	cursor: pointer;
	opacity: 0;
}

.puzzle-section .analytics-puzzle {
	float: left;
	width: 33%;
	height: 100%;
	background-color: #1f3952;
	position: relative;
	z-index: 2;
	cursor: pointer;
	opacity: 0;
}

.puzzle-section .business-puzzle {
	float: left;
	width: 33%;
	height: 100%;
	background-color: #81bcb6;
	position: relative;
	cursor: pointer;
	opacity: 0;
}

.puzzle-section .intersection-one {
	position: absolute;
	top: 100%;
	width: 32%;
	height: 160px;
	background-color: #6376a4;
	left: 30%;
	margin-top: 25px;
	overflow: hidden;
	opacity: 0;
	-webkit-transform: translateX(-43%);
	transform: translateX(-43%);
}

.puzzle-section .intersection-two {
	position: absolute;
	top: 100%;
	width: 32%;
	height: 160px;
	background-color: #0e92a6;
	left: 74%;
	margin-top: 25px;
	overflow: hidden;
	opacity: 0;
	-webkit-transform: translateX(-73%);
	transform: translateX(-73%);
}

.puzzle-section .technology-puzzle .arrow-bottom {
	border-top: 25px solid #7d7ba4;
	opacity: 0;
	transition: opacity 0.5s;
}

.puzzle-section .arrow-bottom {
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	position: absolute;
	bottom: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.puzzle-section .arrow-one {
	border-bottom: 25px solid #6376a4;
	top: 100%;
	left: 100%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.puzzle-section .arrow-top {
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	position: absolute;
	opacity: 0;
}

.puzzle-section .puzzle-hover {
	width: 100%;
	height: 150px;
	position: absolute;
	bottom: 100%;
	margin-bottom: 25px;
	opacity: 0;
	overflow: hidden;
}

.puzzle-section .technology-puzzle .technology-puzzle-hover {
	background-color: #7d7ba4;
}

.puzzle-section .technology-puzzle-hover {
	transition: opacity 0.5s;
}

.puzzle-section .chev {
	position: absolute;
	bottom: 101%;
	font-size: 1.3em;
	color: rgba(255, 255, 255, 0.8);
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: -2;
}

.puzzle-section .technology-puzzle h3 {
	margin-left: -22px;
}

.puzzle-section h3 {
	font-size: 1.5em;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -110%);
	transform: translate(-50%, -110%);
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 10px 0px;
	z-index: 3;
	text-transform: uppercase;
}

.puzzle-section h3 {
	margin-top: 1.5rem;
}

.puzzle-section .arrow-two {
	border-bottom: 25px solid #0e92a6;
	top: 100%;
	left: 100%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.puzzle-section .analytics-puzzle .analytics-puzzle-hover {
	background-color: #1f3952;
}

.puzzle-section .analytics-puzzle-hover {
	transition: opacity 0.5s;
}

.puzzle-section .puzzle-hover .scroller-hidder {
	overflow-y: scroll;
	width: calc(100% + 20px);
	height: 100%;
}

.puzzle-section h5 {
	font-weight: bold;
	margin: 10px;
	text-transform: uppercase;
}

.puzzle-section-mobile h5,
.puzzle-section h5 {
	font-size: 0.83em;
}

.puzzle-section hr {
	border: 1px solid white;
	width: 90%;
	margin: 15px 11px;
}

.puzzle-section ul {
	list-style: inherit;
	margin: 10px 30px;
	padding: 0px;
	font-size: 0.8rem;
}

.puzzle-section .business-puzzle .arrow-bottom {
	border-top: 25px solid #81bcb6;
	opacity: 0;
	transition: opacity 0.5s;
}

.puzzle-section .business-puzzle-hover {
	transition: opacity 0.5s;
}

.puzzle-section .intersection-one .scroller-hidder,
.puzzle-section .intersection-two .scroller-hidder {
	overflow-y: scroll;
	width: calc(100% + 20px);
	height: 100%;
}

.puzzle-section-mobile {
	max-width: 400px;
	height: 450px;
	margin: 2% auto;
	position: relative;
}

.puzzle-section .analytics-puzzle .right-center-puzzle {
	background-image: url(../img/puzzle.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 22%;
	min-width: 70px;
	height: 40%;
	position: absolute;
	left: 99.5%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.puzzle-section .analytics-puzzle .left-center-puzzle {
	background-image: url(../img/puzzle2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 22%;
	min-width: 70px;
	height: 40%;
	position: absolute;
	right: 99.5%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.puzzle-section .analytics-puzzle .arrow-bottom {
	border-top: 25px solid #1f3952;
	opacity: 0;
	transition: opacity 0.5s;
}

.puzzle-section .business-puzzle .business-puzzle-hover {
	background-color: #81bcb6;
}

.puzzle-section .technology-puzzle:hover > .technology-puzzle-hover,
.puzzle-section .technology-puzzle:hover > .arrow-bottom,
.puzzle-section .analytics-puzzle:hover > .analytics-puzzle-hover,
.puzzle-section .analytics-puzzle:hover > .arrow-bottom,
.puzzle-section .business-puzzle:hover > .business-puzzle-hover,
.puzzle-section .business-puzzle:hover > .arrow-bottom {
	opacity: 1 !important;
	transition: opacity 0.5s;
}

.puzzle-section-mobile {
	max-width: 400px;
	height: 450px;
	margin: 2% auto;
	position: relative;
}

.puzzle-section-mobile .technology-section-mobile {
	background-color: #7d7ba4;
	width: 49%;
	height: 30%;
	position: relative;
}

.puzzle-section-mobile .content-mobile {
	overflow-y: scroll;
	display: none;
	height: 100%;
	font-size: 0.8rem;
	z-index: 3;
	position: relative;
}

.puzzle-section-mobile h3 {
	margin: 0.512em 0;
	font-size: 0.8rem;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -110%);
	transform: translate(-50%, -110%);
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding: 10px 0px;
	z-index: 3;
}

.puzzle-section-mobile h5 {
	font-weight: bold;
	margin: 10px;
	text-align: left;
}

.puzzle-section-mobile h5 {
	font-size: 0.83em;
}

.puzzle-section-mobile hr {
	border: 1px solid white;
	width: 70%;
	margin: 15px 11px;
}

.puzzle-section-mobile ul {
	text-align: left;
	list-style: disc;
	margin: 10px 5px 10px 24px;
	padding: 0px;
	font-size: 0.8rem;
}

.puzzle-section-mobile .analytics-section-mobile {
	background-color: #1f3952;
	width: 49%;
	height: 30%;
	position: relative;
	z-index: 2;
}

.puzzle-section-mobile .content-mobile-intersection {
	overflow-y: scroll;
	height: 95%;
	font-size: 0.8rem;
}

.puzzle-section-mobile .arrow-one {
	border-right: 10px solid #6376a4;
	top: 64%;
}

.puzzle-section-mobile .arrow-left {
	position: absolute;
	border-bottom: 12px solid transparent;
	border-top: 12px solid transparent;
	right: 100%;
}

.puzzle-section-mobile .puzzle-mobile-top,
.puzzle-section-mobile .puzzle-mobile-bottom {
	background-image: url(../img/puzzle.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 34px;
	height: 43px;
	position: absolute;
}

.puzzle-section-mobile .puzzle-mobile-bottom {
	left: 50%;
	top: 96%;
	-webkit-transform: translateX(-50%) rotate(90deg);
	transform: translateX(-50%) rotate(90deg);
}

.puzzle-section-mobile .business-section-mobile {
	background-color: #81bcb6;
	width: 49%;
	height: 30%;
	position: relative;
}

.puzzle-section-mobile .data-section-mobile {
	background-color: #6376a4;
	width: 47%;
	height: 43%;
	top: 0;
	position: absolute;
	right: 0;
}

.puzzle-section-mobile .arrow-two {
	top: 24%;
	border-right: 10px solid #0e92a6;
}

.puzzle-section-mobile .roadmap-section-mobile {
	background-color: #0e92a6;
	width: 47%;
	height: 43%;
	top: 47%;
	position: absolute;
	right: 0;
}

.puzzle-section-mobile .puzzle-mobile-top {
	left: 50%;
	bottom: 96%;
	-webkit-transform: translateX(-50%) rotate(-90deg);
	transform: translateX(-50%) rotate(-90deg);
}

.puzzle-section-mobile .technology-section-mobile:hover .content-mobile,
.puzzle-section-mobile .technology-section-mobile:active .content-mobile,
.puzzle-section-mobile .technology-section-mobile:focus .content-mobile {
	display: block;
	background-color: #7d7ba4;
}

.puzzle-section-mobile .analytics-section-mobile:hover .content-mobile,
.puzzle-section-mobile .analytics-section-mobile:active .content-mobile,
.puzzle-section-mobile .analytics-section-mobile:focus .content-mobile {
	display: block;
	background-color: #1f3952;
}

.puzzle-section-mobile .technology-section-mobile:hover h3,
.puzzle-section-mobile .technology-section-mobile:active h3,
.puzzle-section-mobile .technology-section-mobile:focus h3,
.puzzle-section-mobile .analytics-section-mobile:hover h3,
.puzzle-section-mobile .analytics-section-mobile:active h3,
.puzzle-section-mobile .analytics-section-mobile:focus h3,
.puzzle-section-mobile .business-section-mobile:hover h3,
.puzzle-section-mobile .business-section-mobile:active h3,
.puzzle-section-mobile .business-section-mobile:focus h3 {
	display: none;
}

.puzzle-section-mobile .business-section-mobile:hover .content-mobile,
.puzzle-section-mobile .business-section-mobile:active .content-mobile,
.puzzle-section-mobile .business-section-mobile:focus .content-mobile {
	display: block;
	background-color: #81bcb6;
}

.card {
	background-color: transparent;
	border: none;
}

.card-header {
	border-bottom: none;
	background-color: transparent;
	padding-right: 0;
	padding-left: 0;
}

.card-body {
	padding-right: 0;
	padding-left: 0;
}

.btn.btn-link {
	color: #fff;
	text-decoration: none;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.btn.btn-link:focus,
.btn.btn-link:active {
	color: #fff;
	text-decoration: none;
	box-shadow: none;
}

.coming-soon-box {
	background-color: #fff;
	padding: 62px 50px;
	color: rgb(30, 113, 107);
	font-size: 18px;
	text-align: center;
}

.card.mb-3 {
	background-color: #fff;
	color: #000;
	border-radius: 0;
}

.card.mb-3 .card-title {
	font-size: 15px;
}

.card.mb-3 .card-body {
	padding: 1.25rem;
}

.card.mb-3 .card-text {
	font-size: 14px;
}

.approach-diagram {
	max-width: 527px;
	margin: 2rem auto;

	position: relative;
}

.approach-state-1,
.approach-state-2 {
	/* width: 145px;
	height: 50px; */

	max-width: 100%;
	width: 142px;
	height: 50px;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	/* border: 1px solid #000; */
	/* background: #fff; */
	transition: all 0.3s;
}

.state-text {
	font-size: 10px;
	visibility: hidden;
}

.approach-state-1 {
	position: absolute;
	top: 29%;
	left: 25%;
}

.approach-state-1:hover,
.approach-state-2:hover {
	cursor: pointer;
	background-color: rgb(160, 185, 182);
}

.approach-state-1:hover .state-text,
.approach-state-2:hover .state-text {
	visibility: visible;
}

.approach-state-1:hover .approach-notification,
.approach-state-2:hover .approach-notification {
	visibility: visible;
	opacity: 1;
}

.approach-state-1 .approach-notification {
	position: absolute;
	left: 200%;
	top: -300%;
}

.approach-state-2 .approach-notification {
	position: absolute;
	left: 200%;
	top: -300%;
}

.approach-notification {
	width: 100%;
	background-color: rgb(160, 185, 182);
	opacity: 0;
	visibility: hidden;
	padding: 15px;
	width: 200px;
	font-size: 14px;
	transition: all 0.3s;
}

.approach-notification:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -20px;
	left: 50%;
	background-color: rgb(160, 185, 182);
	clip-path: polygon(100% 0, 0 0, 49% 100%);
	width: 50px;
	height: 20px;
	transform: translateX(-50%);
}

.approach-state-2 {
	position: absolute;
	bottom: 13%;
	right: 25%;
}

.imprint a {
	color: #54c1b8;
}

.imprint a:hover {
	color: #fff;
}
.btn-full {
	display: block;
	/* padding: 10px; */
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 3px;
	background-color: transparent;
	transition: all 0.3s;
	margin: 20px 0 50px 0;
}
@media (min-width: 769px) {
	.puzzle-section-mobile {
		display: none;
	}
}

@media only screen and (max-width: 990px) {
	.bg-video video {
		min-height: 100%;
		min-width: 100%;
		height: auto;
		width: auto;
	}

	.half-bg {
		display: none;
	}

	.recruiter-box-content {
		padding: 50px;
	}

	.col-right {
		padding-right: 20px;
		position: initial;
		width: 100%;
		transform: translateY(0);
	}

	.split-page-menu {
		display: flex;
		flex-wrap: wrap;
		text-align: left;
	}

	.split-page-menu li {
		padding: 10px;
	}

	.split-page-menu a {
		border: 1px solid #fff;
		padding: 20px;
	}

	.text__modal {
		left: 0;
		right: 0;
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.map {
		height: 80vh;
	}
}

@media (min-height: 720px) and (min-width: 1024px) {
	.split-page {
		margin-top: 5%;
	}

	.right__col {
		width: 80%;
	}
	.content.split-page {
		padding-left: 210px;
	}

	.stories-col {
		padding: 0 15%;
	}
}

@media only screen and (max-width: 768px) {
	.logo,
	.header {
		display: none;
	}

	.nav-item-active {
		background-color: #eee !important;
		color: #231f20 !important;
	}

	.sidebar {
		width: 0;
	}

	.mobile-sidemenu,
	.mobile-sidemenu ul {
		display: flex;
	}

	.mobile-social {
		display: block;
		width: 100%;
		background: #fff;
		text-align: center;
	}

	.mobile-menu {
		background-color: rgba(250, 250, 250, 0.6);
		color: #005379;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		padding: 15px 20px;
	}

	.mobile-menu-bars {
		color: inherit;
	}

	.content,
	.footer-wrapper {
		padding: 20px;
	}

	.button-wrapper,
	.clients-wrapper,
	.address,
	.client-logos {
		flex-direction: column;
	}

	.recruiter-box-content {
		padding: 30px 0 0;
	}

	.learn-box {
		margin-top: 80px;
	}

	.client-logos {
		align-items: center;
	}

	.button-box:first-child {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.description p,
	.huge-buttons {
		padding: 0 50px;
	}

	.content.contact {
		padding: 0px 0px 0px 0px;
	}

	.split-page-menu {
		margin: 100px 0 0 0;
	}

	.stories-col {
		padding: 0;
		margin: 20px;
	}

	.content .stories-title {
		margin-top: 80px;
	}

	.stories-page-objectives {
		padding-left: 40px;
	}

	.stories-page-data:before,
	.stories-page-data:after {
		display: none;
	}

	.stories-page-columns {
		flex-direction: column;
		padding-bottom: 0;
	}

	.stories-page-content ul {
		padding: 0 15px 15px 15px;
	}

	.stories-page-text {
		margin: 0 0 0 35px;
		padding-bottom: 35px;
	}

	.puzzle-section {
		display: none;
	}

	.approach-state-1 .approach-notification,
	.approach-state-2 .approach-notification {
		left: 50%;
		top: -320%;
	}
}

@media only screen and (max-width: 576px) {
	.approach-state-1 {
		width: 109px;
		height: 40px;
	}

	.approach-state-1 .approach-notification {
		left: -20%;
		top: -450%;
	}

	.approach-state-2 .approach-notification {
		left: -20%;
		top: -450%;
	}
}
